.JourneyToOzPage
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.journeyIntroOverlay
	{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		z-index: 2;
		display: none;

		.dimmer
		{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 0.64;
		}

		.icon
		{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -36px;
			margin-top: -22px;
		}

		.container
		{
			position: absolute;
			left: 50%;
			bottom: 38px;
			width: 100%;
			margin-left: -50%;
			margin-top: -140px;

			.ornament-big-top, .ornament-big-bottom
			{
				position: relative;
				left: 50%;
				margin-left: -47px;
				margin-top: 16px;
			}

			.intro
			{
				@extend .text.tradegothic;
				@extend .text.white;
				font-size: 15px;
				line-height: 19px;
				letter-spacing: 1px;

				margin-top: 20px;
				margin-bottom: 8px;
				text-align: center;
			}
		}
	}

	.arrow-left, .arrow-right
	{
		position: absolute;
		top: 50%;
		margin-top: -9px;
	}

	.arrow-left
	{
		left: 14px;
	}

	.arrow-right
	{
		right: 14px;
	}

	.content
	{
		position: absolute;
		width: 100%;

		.image
		{
			position: relative;
			margin: 0px;
			margin-bottom: -3px;
			padding: 0px;

			&.pannable
			{
				img
				{
					width: auto;
					height: 100%;
				}
			}
		}

		.imageDragEnabler
		{
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100%;
		}
	}
}