/* urls */
/* colors */
/* responsive settings */
/* positioning */
/* line 5, ../../sass/view/Footer.scss */
footer.global {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 999; }
  /* line 12, ../../sass/view/Footer.scss */
  footer.global nav {
    float: left; }
    /* line 16, ../../sass/view/Footer.scss */
    footer.global nav ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      *zoom: 1; }
      /* line 60, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      footer.global nav ul li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 48, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
        footer.global nav ul li:first-child, footer.global nav ul li.first {
          padding-left: 0; }
        /* line 49, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
        footer.global nav ul li:last-child {
          padding-right: 0; }
        /* line 50, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
        footer.global nav ul li.last {
          padding-right: 0; }
    /* line 21, ../../sass/view/Footer.scss */
    footer.global nav .separator {
      display: inline-block;
      float: left;
      margin: 0px 2px; }
  /* line 29, ../../sass/view/Footer.scss */
  footer.global .items.group {
    position: relative;
    bottom: 0px;
    margin: 6px 6px; }
  /* line 36, ../../sass/view/Footer.scss */
  footer.global .items.group.left {
    position: absolute;
    left: 0px; }
  /* line 42, ../../sass/view/Footer.scss */
  footer.global .items.group.middle {
    position: absolute;
    left: 50%; }
  /* line 48, ../../sass/view/Footer.scss */
  footer.global .items.group.right {
    position: absolute;
    right: 0px; }
  /* line 54, ../../sass/view/Footer.scss */
  footer.global .item {
    margin-left: 8px;
    margin-right: 8px; }
  /* line 60, ../../sass/view/Footer.scss */
  footer.global.extended {
    margin-bottom: 6px; }
    /* line 64, ../../sass/view/Footer.scss */
    footer.global.extended .middle {
      margin-left: -143px; }
    /* line 69, ../../sass/view/Footer.scss */
    footer.global.extended #logoChromeExperiment {
      margin-bottom: -1px; }
    /* line 74, ../../sass/view/Footer.scss */
    footer.global.extended #logoGoogle {
      margin-bottom: -4px; }
    /* line 79, ../../sass/view/Footer.scss */
    footer.global.extended .rating.block {
      width: 114px;
      display: inline-block; }
      /* line 84, ../../sass/view/Footer.scss */
      footer.global.extended .rating.block #logoRating {
        float: right;
        margin-right: 0px;
        margin-bottom: 8px; }
      /* line 91, ../../sass/view/Footer.scss */
      footer.global.extended .rating.block p {
        float: right;
        text-align: right; }
  /* line 101, ../../sass/view/Footer.scss */
  footer.global.simple .termsContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-left: 12px;
    margin-bottom: 12px; }
    /* line 109, ../../sass/view/Footer.scss */
    footer.global.simple .termsContainer .text {
      font-size: 9px;
      text-decoration: none; }
    /* line 117, ../../sass/view/Footer.scss */
    footer.global.simple .termsContainer .separator {
      opacity: 0.5;
      margin-left: 3px;
      margin-right: 3px; }
  /* line 125, ../../sass/view/Footer.scss */
  footer.global.simple .copyright.disney {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 12px;
    margin-right: 12px;
    padding-top: 1px;
    font-size: 9px;
    opacity: 0.3; }
