/* line 2, ../../sass/view/Preloader.scss */
#preloader {
  z-index: 2; }
  /* line 6, ../../sass/view/Preloader.scss */
  #preloader .preloaderContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 77px;
    margin-left: -34px;
    margin-top: -38px; }
    /* line 16, ../../sass/view/Preloader.scss */
    #preloader .preloaderContainer .particles {
      position: absolute; }
    /* line 21, ../../sass/view/Preloader.scss */
    #preloader .preloaderContainer .spinnerContainer {
      position: absolute;
      margin-left: 11px;
      margin-top: 11px; }
      /* line 27, ../../sass/view/Preloader.scss */
      #preloader .preloaderContainer .spinnerContainer .asset {
        margin-left: 0px; }
    /* line 33, ../../sass/view/Preloader.scss */
    #preloader .preloaderContainer .text {
      width: 100%;
      text-align: center;
      margin-top: 28px; }
  /* line 41, ../../sass/view/Preloader.scss */
  #preloader .preloaderContainer.card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 218px;
    margin-left: -75px;
    margin-top: -109px; }
    /* line 51, ../../sass/view/Preloader.scss */
    #preloader .preloaderContainer.card .progress {
      position: absolute;
      font-size: 14px;
      color: #835349;
      text-align: center;
      width: 40px; }
      /* line 60, ../../sass/view/Preloader.scss */
      #preloader .preloaderContainer.card .progress.top {
        top: 0px;
        left: 0px;
        margin-top: 10px;
        margin-left: -2px; }
      /* line 68, ../../sass/view/Preloader.scss */
      #preloader .preloaderContainer.card .progress.bottom {
        bottom: 0px;
        margin-bottom: 8px;
        margin-left: 115px;
        color: #5b342d;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
