@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(SwfduKDlxm7-vFPpKzhxuT5PQgzoYN-sSquJZXzph5w.woff) format('woff');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(SwfduKDlxm7-vFPpKzhxuXgG0fRt51pxaaKxqTfKu5Q.woff) format('woff');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(SwfduKDlxm7-vFPpKzhxue3KwenTjAJKfv_266DPzTg.woff) format('woff');
}