#orientationPrompt
{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 9999;
	@include background-image(radial-gradient(70% 20%, #4c4c4c 0%, #171717 90%));

	&.carnival
	{
		@include background-image(url($urlImagesSimple + 'background/background-main.jpg'));
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#logoOzOrientationPrompt
	{
		position: absolute;
		left: 50%;
		top: 20px;
		margin-left: -26px;
	}

	.promptContainer
	{
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -70px;
		text-align: center;

		.icon
		{
			display: inline-block;
			margin: 0 auto;

			&:nth-child(1)
			{
				margin-right: 10px;
			}
		}

		p.text
		{
			@extend .text.tradegothic;
			@extend .text.white;
			@extend .text.small;

			text-align: center;
			margin-top: 14px;
		}
	}

	.copyright.disney
	{
		@extend .text.tradegothic;
		@extend .text.white;

		position: absolute;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		margin-bottom: 12px;
		bottom: 0px;
		font-size: 9px;
		text-align: center;
	}
}