<!-- 
     - What is "real"? How do you define "real"? 
     - Welcome to the Matrix Neo
 -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>{{ OG_TITLE }}</title>
        <meta name="description" content="{{ OG_DESCRIPTION }}">
        <meta name="author" content="{{ SEO_AUTHOR }}">

        <meta name="google" value="notranslate">
        <META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
        <link rel="canonical" href="{{ OG_URL }}" />

        <!-- G+ AND FACEBOOK META TAGS -->

        <meta property="og:title" content="{{ OG_TITLE }}" />
        <meta property="og:url" content="{{ OG_URL }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ OG_URL }}/img/social/fb.png"/>  <!-- TODO: change this -->
        <meta property="og:description" content="{{ OG_DESCRIPTION }}" />
        <meta property="og:site_name" content="{{ OG_SITE_NAME }}"/>

        <!-- TWITTER CARD -->

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ TWITTER_HANDLE }}">
        <meta name="twitter:creator" content="{{ TWITTER_HANDLE }}">
        <meta name="twitter:url" content="{{ OG_URL }}">
        <meta name="twitter:title" content="{{ OG_TITLE }}">
        <meta name="twitter:description" content="{{ OG_DESCRIPTION }}">
        <meta name="twitter:image" content="{{ OG_URL }}/img/social/twitter.png"> <!-- TODO: change this -->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalise.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/spinner.css">

        <script src="/js/vendor/require.js"></script>
        <script data-main="/js/appDetect" src="/js/rDetect.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="fb-root"></div>
        <div id="detect">
            <div class='errorContainer'>
                <div class="title"></div>
                <div class="flourish"><img src="/img/error/top.png"></div>
                <div class="errorMessage"><span></span></div>
                <div class="btnContainer"></div>
                <div class="flourish"><img src="/img/error/bottom.png"></div>
                <div class="errorFooter"><img src="/img/error/logo_oz.png"><a href="http://www.chromeexperiments.com" target="_blank"/><img src="/img/error/logo_chrome.png"></a><a href="http://www.google.com" target="_blank"/><img src="/img/error/logo_google.png"></a></div>
            </div>
        </div>

        <div class="qualityCheck">
            <div class="settings_container">
                <div class="settings_copy">{{ SETTINGS_TITLE }}</div>
                <div class="settings_top"><img src="/img/settings/top.png"></div>
                <div class="settings_button abstractbutton button_alpha_enabled low_quality" >{{ SETTINGS_LOW }}</div>
                <div class="settings_button abstractbutton button_alpha_enabled high_quality" style="margin-bottom:11px;">{{ SETTINGS_HIGH }}</div>
                <div class="settings_bottom"><img src="/img/settings/bottom.png"></div>
            </div>
        </div>

        <div id="polite" style="opacity:.5;display: none; width:100%; height:100%; position:absolute; top:0;left:0;">
        <div style="display: table-cell;vertical-align:middle;">
            <div class="spinner" style="width: 34px; height: 34px">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
            </div>
        </div>
    </body>
</html>
