@import url("default.css");

@import url("responsive.css");
body {
  background: #000000 url(../../img/preview/cutout_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
}
@-webkit-keyframes arrival {
  0% {
    top: -100%;
    -webkit-transform: rotate(-100deg) scale(0.8);
  }
  100% {
    top: 50%;
    -webkit-transform: rotate(5deg) scale(0.8);
  }
}
.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper .imgAnim {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  top: 50%;
  -webkit-transform: rotate(5deg) scale(0.8);
  width: 438px;
  height: 526px;
  position: relative;
  margin: 0 auto;
  display: none;
  -webkit-transition: opacity 1s linear;
  margin-top: -250px;
}
.wrapper .imgAnim img {
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper .imgLoaded {
  width: 438px;
  margin: -20px 0;
  -webkit-mask-box-image: url('/img/preview/cutout_polaroid_mask_prev.png');
}
.wrapper .img {
  display: block;
  -webkit-animation: arrival 1.5s;
}
