/* CSS */

.pianoKey
{
    position: absolute;
    width : 40px;
    height: 200px;
    background-color: #FFF;
    border: 1px solid #000;
}
.pianoKey:hover
{
    background-color: #EEE;
    cursor: pointer;
}

.pianoBlackKey
{
    position: absolute;
    width: 30px;
    height: 140px;
    background-color: #000;
}

.pianoBlackKey:hover
{
    background-color: #333;
    cursor: pointer;
}

.pianoBlock, .octave
{
    height: 200px;
    display: inline-block;
}

.piano
{
    position: absolute;
    padding: 0;
    display: inline;
    vertical-align: top;
}
