<div class="content">

	<div class="asset sprite logo oz"></div>
	
	<div class="asset sprite decorative ornament-small"></div>

	<div class="links">

		<a id="footerTermsButton" href="/tou.html" target="_blank" class="link">{{#FooterPage_terms}}</a><span class="separator">|</span><a id="footerPrivacyButton" href="/pp.html" target="_blank" class="link">{{#FooterPage_privacy}}</a>

	</div>

	<button id="goToTopButton" class="button simple">
		<div class="asset sprite button background">
			<div class="label"><div class="text">{{#FooterPage_button_goToTop}}</div></div>
		</div>
	</button>

</div>