<!-- <div class="asset logo oz"></div> -->

<div class="homeContainer">

	<div class="asset sprite decorative ornament"></div>

	<div class="logoContainer">
		<div class="text logo">{{#HomePage_title}}</div>
	</div>

	<div class="asset sprite decorative ornament-small"></div>

	<div class="termsContainer">

	</div>

	<div id="termsCheckbox">
		<div class="asset sprite icon checkbox"></div><div class="text terms">{{#HomePage_legal}}</div>
	</div>

	<button id="enterButton" class="button simple disabled">
		<div class="asset sprite button background-big">
			<div class="label">
				<div class="text">{{#HomePage_button_enter}}</div>
			</div>
		</div>
	</button>

	<button id="downloadChromeButton" class="button simple">
		<div class="asset sprite button background">
			<div class="label">
				<div class="text">{{#HomePage_button_getChrome}}</div>
			</div>
		</div>
	</button>

</div>

<footer class="global extended">
	<div class="items group left">
		<button class="logoChromeExperiment footer item button simple">
			<span class="asset sprite logo chromeexperiment"></span>
		</button>
		<button class="logoGoogle footer item button simple">
			<span class="asset sprite logo google"></span>
		</button>
	</div>

	<div class="items group right">
		<button class="logoPg footer item button simple">
			<span class="asset sprite logo pg"></span>
		</button>
	</div>
</footer>