<!-- intro overlay -->
<div id="journey2IntroOverlay" class="journeyIntroOverlay">
	
	<div class="dimmer"></div>

	<div class="asset sprite icon finger-pan"></div>

	<div class="container">

		<div class="asset sprite decorative ornament-big-top"></div>

		<div class="intro">
			<p>{{#JourneyToOzPage_section2_description}}</p>
		</div>

		<div class="asset sprite decorative ornament-big-bottom"></div>

	</div>

</div>

<!-- content -->
<div class="content">

	<div class="image pannable">
		<img src="/m/images/simple/journey/scene2.jpg" />
	</div>

</div>

<div class="imageDragEnabler"></div>

<div class="asset sprite icon arrow-left"></div>
<div class="asset sprite icon arrow-right"></div>