/* urls */
$urlImages: '../images/';
$urlImagesSprites: $urlImages + 'sprites/';
$urlImagesSimple: $urlImages + 'simple/';

/* colors */
$black: #000000;

/* responsive settings */
$responsiveTabletMinDeviceWidth: 768px;
$responsiveTabletMinDeviceHeight: 768px;
$responsiveTabletMaxDeviceWidth: 99999px;
$responsiveTabletMaxDeviceHeight: 99999px;

$fileNameSuffixRetina: '-2x';
$fileNameSuffixTablet: '-tab';

/* positioning */
$headerMargin: 10px;