@import "compass";
@import "compass/css3/images";

.text
{
	/* font */
	&.tradegothic
	{
		font-family: 'TradeGothic';
	}

	&.leaguegothic
	{
		font-family: 'LeagueGothic';
	}

	&.univers
	{
		font-family: 'Univers';
	}

	&.futura
	{
		font-family: 'FuturaStd-Heavy'
	}

	/* sizes */
	&.micro
	{
		font-size: 8px;
	}

	&.mini
	{
		font-size: 12px;
	}

	&.small
	{
		font-size: 15px;
	}

	&.medium
	{
		font-size: 16px;
	}

	&.normal
	{
		font-size: 24px;
	}

	&.huge
	{
		font-size: 41px;
	}

	/* spacing */
	&.spacing100
	{
		letter-spacing: 1px;
	}

	&.spacing150
	{
		letter-spacing: 3px;
	}

	/* color */
	&.white
	{
		color: #ffffff;
	}

	/* opacity */
	&.transparent40
	{
		opacity: 0.4;
	}

	&.transparent50
	{
		opacity: 0.5;
	}
}