<div class="content">

	<div class="asset decorative ornament-error"></div>

	<p id="errorCopy"></p>

	<div class="asset decorative ornament-bottom-error"></div>

	<div class="buttons">
		<button id="errorButtonGetChrome" class="button simple">
			<div class="asset sprite button background">
				<div class="label"><div class="text">{{#HomePage_button_getChrome}}</div></div>
			</div>
		</button>

		<button id="errorButtonContinue" class="button simple">
			<div class="asset sprite button background">
				<div class="label"><div class="text">{{#HomePage_button_enter}}</div></div>
			</div>
		</button>
	</div>

</div>